
.box{
    background-color:black;
    margin:auto;
    width:100vw;
    padding-top:20vh;
    
}

.form{
    border: 3px solid yellow;
    background-color:white;
    width:70vw;
    margin: auto;
}
.btn{
    background-color:purple !important;
    color:white !important;
    padding-left: 6px !important;
}

.error{
    font-weight:bold;
    color:red;
}
.disabled{
    background-color: grey !important;
    color: white;
    padding-left: 6px !important;

}