.App {
  text-align: center;
  height:100%;
  background-color: Black;
  background-size:cover;
}

.btn-flat{
  background-color:purple !important;
  color:white !important;
  
}

.float-right{
  float:right;
}


