.description{
    overflow-y:scroll;
    font-family: Roboto Condensed !important;

}

.title{
    font-family: Roboto Condensed !important;
}

.numberOfTracks{
    font-family: Roboto Condensed !important;
}