.focusPage{
    width: 75vw; 
    background-color: white;
    height:100vh;
    margin:auto;
    padding-top:20vh;
    font-family: Roboto Condensed !important;
    position:relative;

}

.imageFocus{
    display:inline;
    width:35vw;
    height:37vh;
    object-fit: fill;
}

.title{
    color: yellow;
}
.currentSong{
    color:yellow;
}

.column{
    display:flex;
    flex-direction:column;
    float: left;
}


