.carousel-caption{
    text-align: left !important;
    top:50%;
  }
  
.image{
    max-height: 100vh;
    width:100vw;
    
}

.btn-flat{
  background-color:purple !important;
  color:white !important;
  position: absolute;
  bottom:0;
  left:0;
  z-index:10;
}


